.keyboard-key{
  width: 50px;
  height: 50px;
  float: left;
  cursor: pointer;
  background-color: #FFFFF4;
  color: #000000;
  line-height: 48px;
  text-align: center;
  margin-left: 4px;
  margin-top: 2px;
  border-radius: 4px;
}

.disabled-key{
  width: 50px;
  height: 50px;
  float: left;
  cursor: pointer;
  background-color: #F5793A;
  color: #000000;
  line-height: 48px;
  text-align: center;
  margin-left: 4px;
  margin-top: 2px;
  border-radius: 4px;
}

.keyboard-row{
  display: flex;
  justify-content: center;
}

.submit-button
{
  
  background-color: #85C0F9;
  color: #547596;
  font-weight:bold;
  font-family: 'Nunito';
  font-style: normal;

}


.letter-block
{
  width: 90px;
  height: 90px;
  left: 300px;
  top: 300px;
  border-radius: 20px;


}


.letter-text
{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  text-align: center;
  line-height: 100px;
  text-transform: uppercase;

}




.letter-wrong-background
{
  background: #F5793A;

}


.letter-correct-background
{
  background: #02C39A;

}

.letter-default-background
{
  background: #48495F;

}
